.titleIndex {
  font-size: 5rem;
}
body {
  background-image: url(../assets/bg-body.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.calendarTextarea {
  resize: none;
  height: 150px !important;
}
nav {
  background-color: #1d1747;
}
nav a {
  color: #fff !important;
}
